
/*
---------------------------------------------------
Reset
---------------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
---------------------------------------------------
Typography
---------------------------------------------------
*/

html {
    font-family: Verdana, Arial, serif;
    font-size: 14px;
    line-height: 26px;
}

/*
---------------------------------------------------
Navi
---------------------------------------------------
*/

header {
  height: 78px;
  width: 100%;
  padding-left: 10%;
  margin-bottom: 4px;
  box-sizing: border-box;
  text-align: left;
  background-color: rgb(68,68,68);
  box-shadow: 0px 2px 6px 1px grey;

}

.nav li {
  color: white;
  font-size: 18px;
  list-style-type: none;
  padding: 8px;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 20px;
  display: inline-block;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
}

.nav li a {
  color: white;
  text-decoration: none;
}

.nav li:hover  {
  background-color: black;
  border-color: black;
  color: white;
}


/*
---------------------------------------------------
Content
---------------------------------------------------
*/

body {
  background-color: rgb(219, 223, 224);
  background-image: url("preview.jpg");
}

#freepik {
  text-align: right;
}

#freepik a {
  color: black;
  text-decoration: none;
}

.container {
  line-height: 22px;
  display: inline-block;
  height: 900px;
  width: 50%;
  padding: 0 5px;
  margin-left: 25%;
  margin-bottom: 5px;
  background-color: white;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 0px 1px grey;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 22px;
}

section button {
  color: white;
  font-weight: 400;
  cursor: pointer;
  margin-top: 10px;
  padding: 6px 12px;
  height: 40px;
  width:90px;
  border: 1px solid rgb(135, 206, 220);
  border-radius: 4px;
  background-color: skyblue;
  margin-left: 40%;
}


/*
---------------------------------------------------
Footer
---------------------------------------------------
*/


footer {
  width: 100%;
  height: 60px;
  background-color: #DDDD00;
  padding: 5px;
  text-align: center;
}
